 .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    background-color: #f7b100;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.main h2 {
  color: #ffffff;
  font-weight: 300;
}

.main h2 span {

  font-weight: bold;
}