 .main {
    text-align: center;
    height: 400px;
    background-color: #f7b100;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
    margin-top: 96px;
}

.main h2 {
  color: #ffffff;
  font-weight: 300;
}

.main h2 span {

  font-weight: bold;
}

img {
  border-style: none;
  margin-top: 10px;
}