nav {
  color: #FFFFFF;
  height: 96px;
  background: #4056A1;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
    top: 0px;
  width: 100%;

}

nav > span{
  font-size: xx-large;
  font-family: 'Bungee', cursive;
  margin-top: 1.5em;
  
}
nav p {
    margin: 0px 25px 0px -83px;
    /* margin-right:
    margin-left: -83px; */
    /* padding: -13px; */
}

nav p span {
  font-weight: bold;
}



.animate {
color : #FF0000;
animation: bounce 2s infinite;
}

@keyframes bounce {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 10px); }
  to   { transform: translate(0, -0px); }    
}




#slide-up {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

#slide-up:hover {
  color:#2b2b2b;
  /* background: #FF0000; */

}