nav {
  color: #FFFFFF;
  height: 120px;
  background: #4056A1;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
    top: 0px;
  width: 100%;

}

nav > span{
  font-family: 'Bungee', cursive;
  
}
nav p {
margin: 0px;

}

nav p span {
  font-weight: bold;
}

nav div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav i {
color : #FF0000;
}