.button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: 'Bungee', cursive;
  margin-left: 85px;

  margin-right: 45px;
}


button {
  text-transform: none;
  background: #4056A1;
  color: #ffffff;

}


.grow-wrap {
  display: grid;
}


.grow-wrap>textarea {

  border: none;
  resize: none;
  overflow: auto;
  padding: 0.5rem;
  font: inherit;
  background: #f4f1ec;
  border-bottom: 4px solid;
  margin-left: 85px;
  margin-right: 47px;
  margin-bottom: 13px;
  grid-area: 1 / 1 / 2 / 2;
}


::-webkit-input-placeholder {
  font-weight: bold;
}


.error-message {
  display: none;
  text-align: center;
  border: 4px solid red;
  margin-left: 91px;
  margin-bottom: 18px;
  color: red;
  padding: 8px;
  margin-right: 46px;
}


#scroll-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #e62737;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
  display: none;
}


#scroll-top:hover {
  background: #cc2333
}


@media only screen and (min-width: 320px) and (max-width: 499px) {

  #scroll-top {
    width: 40px;
    height: 40px;
  }
}


@media only screen and (min-width: 500px) and (max-width: 767px) {

  #scroll-top {
    width: 50px;
    height: 50px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #scroll-top {
    width: 60px;
    height: 60px;
  }
}