.container {
  width: 90%;
  text-align: center;
  margin-top: 50px;
}



.button-content {
  display: flex;
flex-direction: row;
justify-content: space-between;
 margin-left: 90px;
margin-right: -90px;
font-family: 'Bungee', cursive;
}

/* .counter{
  margin-left: 2em;
} */

 /* section label {
  margin-left: 90px;
  text-align: left;
  font-weight: bold; 
}  */

button  {
  text-transform: none;
  background: #4056A1;
  color: #ffffff;
  
}

#tweet-text{
    margin-left: 3.80em;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 4px solid;
    background: #f4f1ec;
    resize: none;
    min-height: 50px;
}




::-webkit-input-placeholder { 
  font-weight: bold;
}