.user {
  border: 4px solid;
  margin-left: 87px;
  margin-top: 22px;
  margin-right: 40px;
}


.tweets {
  margin-left: -8px;
  margin-top: -8px;
  padding: 20px;
}


.tweets:hover {
  box-shadow: 10px 10px 10px rgb(178, 178, 236)
}


.tweets header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}


.user-name {
  margin: -9px;
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}


.user-name img {
  margin-left: -20px;
  width: 30%;
}


.userName {
  color: rgb(178, 178, 236);
  margin-right: -25px;
}


.message {
  text-align: left;
  width: 100%;
  height: 100px;
  border-bottom: 4px solid;
}


.message p {
  padding: 13px;
  line-break: anywhere;
}


article footer {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: -12px;
}


article footer i {
  padding: 3px;
}


article footer div {
  color: #4056A1
}


article footer div :hover {
  color: #DAA520;
}


@media only screen and (min-width: 320px) and (max-width: 500px) {

  .message p {
    padding: 0px;
  }

  article footer {
    font-size: smaller;
    margin-left: 10px;
    margin-right: 6px;
  }

  .user-name img {
    margin-left: -34px;
    margin-top: -14px;
  }

  .userName {
    margin-right: -30px;
  }

}



@media only screen and (min-width: 500px) and (max-width: 768px) {

  .message p {
    padding: 6px;
  }

  article footer {
    font-size: small;
    margin-left: 10px;
    margin-right: 6px;
  }

  .user-name img {
    margin-left: -28px;
  }

  .userName {
    margin-right: -30px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .message p {
    padding: 3px;
  }

  article footer {
    margin-left: 10px;
    margin-right: 6px;
  }

  .user-name img {
    margin-left: -20px;
  }

  .userName {
    margin-right: -23px;
  }


}


@media only screen and (min-width: 1024px) and (max-width: 1500px) {

  .message p {
    padding: 3px;
  }

}